{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Loyalty Customer classification</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" href="{% static 'assets/img/icon.ico'%}" type="image/x-icon" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		.switch {
			position: relative;
			display: inline-block;
			width: 46px;
			height: 20px;
		}

		.switch input {
			opacity: 0;
			width: 0;
			height: 0;
		}

		.slider {
			position: absolute;
			cursor: pointer;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ccc;
			-webkit-transition: .4s;
			transition: .4s;
		}

		.slider:before {
			position: absolute;
			content: "";
			height: 12px;
			width: 12px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
		}

		input:checked+.slider {
			background-color: #2196F3;
		}

		input:focus+.slider {
			box-shadow: 0 0 1px #2196F3;
		}

		input:checked+.slider:before {
			-webkit-transform: translateX(26px);
			-ms-transform: translateX(26px);
			transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
			border-radius: 34px;
		}

		.slider.round:before {
			border-radius: 50%;
		}
	</style>

	<!-- Fonts and icons -->
	<script src="{% static 'assets/js/plugin/webfont/webfont.min.js'%}"></script>
	<script>
		WebFont.load({
			google: {
				"families": ["Lato:300,400,700,900"]
			},
			custom: {
				"families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands",
					"simple-line-icons"
				],
				urls: ['../../assets/css/fonts.min.css']
			},
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>

	<!-- CSS Files -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/loading.css' %}">
</head>

<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">
			Loyalty Customer classification
		</a>
	</nav>

	{% comment %} <div class="card" style="margin: 20px">
		<div class="card-body">
			<h5 class="card-title">Input customer information</h5>
			<div class="row">
				<div class="col">
					<div class="mb-3">
						<label for="Year_Birth">Year Birth</label>
						<select id="Year_Birth" name="Year_Birth" class="form-control"></select>
					</div>

					<div class="mb-3">
						<label for="Education">Education</label>
						<select id="Education" name="Education" class="form-control">
							<option value="2n cycle">2n Cycle</option>
							<option value="basic">Basic</option>
							<option value="graduation">Graduation</option>
							<option value="master">Master</option>
							<option value="phD">PhD</option>
						</select>
					</div>

					<div class="mb-3">
						<label for="Marital_Status">Marital status</label>
						<select id="Marital_Status" name="Marital_Status" class="form-control">
							<option value="Absurd">Absurd</option>
							<option value="Alone">Alone</option>
							<option value="Divorced">Divorced</option>
							<option value="Married">Married</option>
							<option value="Single">Single</option>
							<option value="Together">Together</option>
							<option value="Widow">Widow</option>
							<option value="YOLO">YOLO</option>
						</select>
					</div>

					<div class="mb-3">
						<label for="Income">Income</label>
						<input type="number" class="form-control" id="Income" name="Income" class="form-control"
							required>
					</div>

					<div class="mb-3">
						<label for="Kidhome">Kid home</label>
						<input type="number" class="form-control" id="Kidhome" name="Kidhome" class="form-control"
							required>
					</div>

					<div class="mb-3">
						<label for="Teenhome">Teen home</label>
						<input type="number" class="form-control" id="Teenhome" name="Teenhome" class="form-control"
							required>
					</div>

					<div class="mb-3">
						<label for="Dt_Customer">Date become customer</label>
						<select id="Dt_Customer" name="Dt_Customer" class="form-control"></select>
					</div>

				</div>
				<div class="col">
					2 of 3
				</div>
				<div class="col">
					3 of 3
				</div>
			</div>

			<a style="margin-top:20px" href="#" class="btn btn-primary">Predict</a>
		</div>
	</div> {% endcomment %}

	<script>
		// Sử dụng jQuery để thêm các năm vào combobox
		$(document).ready(function () {
			var startYear = 1970;
			var endYear = 2023;
			var select = $('#Year_Birth');

			for (var year = startYear; year <= endYear; year++) {
				var option = '<option value="' + year + '">' + year + '</option>';
				select.append(option);
			}
		});
	</script>
	<div class="main-panel">
		<div class="content">
			<div class="page-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="card" style="border-bottom: 0">
							<div class="card-body">
								<div class="row">
									<div class="col-md-9 col-lg-4">
										<div class="form-group form-inline">
											<label for="Year_Birth" class="col-md-6 col-form-label">Year Birth</label>
											<div class="col p-0">
												<select id="Year_Birth" class="form-control" name="Year_Birth"
													required></select>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Education" class="col-md-6 col-form-label">Education</label>
											<div class="col p-0">
												<select id="Education" name="Education" class="form-control">
													<option value="2n cycle">2n Cycle</option>
													<option value="basic">Basic</option>
													<option value="graduation">Graduation</option>
													<option value="master">Master</option>
													<option value="phD">PhD</option>
												</select>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Marital_Status" class="col-md-6 col-form-label">Marital
												status</label>
											<div class="col p-0">
												<select id="Marital_Status" name="Marital_Status" class="form-control">
													<option value="Absurd">Absurd</option>
													<option value="Alone">Alone</option>
													<option value="Divorced">Divorced</option>
													<option value="Married">Married</option>
													<option value="Single">Single</option>
													<option value="Together">Together</option>
													<option value="Widow">Widow</option>
													<option value="YOLO">YOLO</option>
												</select>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Income" class="col-md-6 col-form-label">Income</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="Income" name="Income"
													required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Kidhome" class="col-md-6 col-form-label">Kid home</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="Kidhome" name="Kidhome"
													required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Teenhome" class="col-md-6 col-form-label">Teen home</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="Teenhome" name="Teenhome"
													required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Dt_Customer" class="col-md-6 col-form-label">Date become
												customer</label>
											<div class="" style="text-align: center">
												<input style="width: 189.6px" type="date" id="Dt_Customer"
													class="form-control" name="Dt_Customer">
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Recency" class="col-md-6 col-form-label">Recency</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="Recency" name="Recency"
													required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="Complain" class="col-md-6 col-form-label">Complain
												time</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="Complain" name="Complain"
													required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="MntWines" class="col-md-6 col-form-label">Amount wine</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="MntWines" name="MntWines"
													required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="MntFruits" class="col-md-6 col-form-label">Amount
												fruits</label>
											<div class="col p-0">
												<input type="number" class="form-control" id="MntFruits"
													name="MntFruits" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="MntMeatProducts" class="col-md-6 col-form-label">Amount meat
												products</label>
											<div style="text-align: center;">
												<input type="number" class="form-control" id="MntMeatProducts"
													name="MntMeatProducts" required>
											</div>
										</div>

									</div>
									<div class="col-md-9 col-lg-4">
										<div class="form-group form-inline">
											<label for="MntFishProducts" class="col-md-6 col-form-label">Amount fish
												products</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="MntFishProducts"
													name="MntFishProducts" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="MntSweetProducts" class="col-md-6 col-form-label">Amount sweet
												products</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="MntSweetProducts"
													name="MntSweetProducts" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="MntGoldProds" class="col-md-6 col-form-label">Amount gold
												products</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="MntGoldProds"
													name="MntGoldProds" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="NumDealsPurchases" class="col-md-6 col-form-label">Deal
												Purchases</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="NumDealsPurchases"
													name="NumDealsPurchases" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="AcceptedCmp1" class="col-md-6 col-form-label">Accept
												Cmp1</label>
											<div class="col-md-5 p-0 text-center">
												<input type="number" class="form-control" id="AcceptedCmp1"
													name="AcceptedCmp1" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="AcceptedCmp2" class="col-md-6 col-form-label">Accept
												Cmp2</label>
											<div class="col-md-5 p-0 text-center">
												<input type="number" class="form-control" id="AcceptedCmp2"
													name="AcceptedCmp2" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="AcceptedCmp3" class="col-md-6 col-form-label">Accept
												Cmp3</label>
											<div class="col-md-5 p-0 text-center">
												<input type="number" class="form-control" id="AcceptedCmp3"
													name="AcceptedCmp3" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="AcceptedCmp4" class="col-md-6 col-form-label">Accept
												Cmp4</label>
											<div class="col-md-5 p-0 text-center">
												<input type="number" class="form-control" id="AcceptedCmp4"
													name="AcceptedCmp4" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="AcceptedCmp5" class="col-md-6 col-form-label">Accept
												Cmp5</label>
											<div class="col-md-5 p-0 text-center">
												<input type="number" class="form-control" id="AcceptedCmp5"
													name="AcceptedCmp5" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="NumWebPurchases" class="col-md-6 col-form-label">web
												Purchases</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="NumWebPurchases"
													name="NumWebPurchases" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="NumCatalogPurchases" class="col-md-6 col-form-label">Catalog
												Purchases</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="NumCatalogPurchases"
													name="NumCatalogPurchases" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="NumStorePurchases" class="col-md-6 col-form-label">Store
												Purchases</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="NumStorePurchases"
													name="NumStorePurchases" required>
											</div>
										</div>
										<div class="form-group form-inline">
											<label for="NumWebVisitsMonth" class="col-md-6 col-form-label">Time visit
												web per month</label>
											<div class="col-md-5 p-0" style="text-align: center">
												<input type="number" class="form-control" id="NumWebVisitsMonth"
													name="NumWebVisitsMonth" required>
											</div>
										</div>

									</div>
									<div id="predict_result" style="margin:40px"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="border-bottom: 1px solid #afabab;">
					<div style="margin:20px"></div>
					<div class="card-action mb-3">
						<button class="btn btn-primary" id="clear_btn" style="float: right;">Clear</button>

						<button class="btn btn-success" id="submit_btn"
							style="width: 150px; font-weight: bold; float: right;margin-right: 10px;">SUBMIT
						</button>

					</div>
				</div>
				<footer class="footer mt-3">
					<div class="container-fluid">
						<nav class="pull-left">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link" href="https://www.themekita.com">
										ThemeKita
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										Help
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										Licenses
									</a>
								</li>
							</ul>
						</nav>
						<div class="copyright ml-auto">
							2018, made with <i class="fa fa-heart heart text-danger"></i> by <a
								href="https://www.themekita.com">ThemeKita</a>
						</div>
					</div>
				</footer>
			</div>

		</div>
	</div>
	</div>
	<!--   Core JS Files   -->
	<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
	<!-- jQuery UI -->
	<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
	<script src="{% static 'assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>

	<!-- jQuery Scrollbar -->
	<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
	<!-- Atlantis JS -->
	<script src="{% static 'assets/js/atlantis.min.js' %}"></script>
	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="{% static 'assets/js/setting-demo2.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/static/assets/js/add_options.js"></script>
	<!-- select2 -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script type="text/javascript">
		document.addEventListener("DOMContentLoaded", function () {
			var predictResult = document.getElementById('predict_result');
			var submitBtn = document.getElementById('submit_btn');
			var clearBtn = document.getElementById('clear_btn');
			predictResult.style.display = 'none';
			submitBtn.addEventListener('click', function () {
				var yearBirth = document.getElementById('Year_Birth').value;
				var education = document.getElementById('Education').value;
				var maritalStatus = document.getElementById('Marital_Status').value;
				var income = document.getElementById('Income').value;
				var kidHome = document.getElementById('Kidhome').value;
				var teenHome = document.getElementById('Teenhome').value;
				var dtCustomer = document.getElementById('Dt_Customer').value;
				var recency = document.getElementById('Recency').value;
				var complain = document.getElementById('Complain').value;
				var mntWines = document.getElementById('MntWines').value;
				var mntFruits = document.getElementById('MntFruits').value;
				var mntMeatProducts = document.getElementById('MntMeatProducts').value;
				var mntFishProducts = document.getElementById('MntFishProducts').value;
				var mntSweetProducts = document.getElementById('MntSweetProducts').value;
				var mntGoldProds = document.getElementById('MntGoldProds').value;
				var numDealsPurchases = document.getElementById('NumDealsPurchases').value;
				var acceptedCmp1 = document.getElementById('AcceptedCmp1').value;
				var acceptedCmp2 = document.getElementById('AcceptedCmp2').value;
				var acceptedCmp3 = document.getElementById('AcceptedCmp3').value;
				var acceptedCmp4 = document.getElementById('AcceptedCmp4').value;
				var acceptedCmp5 = document.getElementById('AcceptedCmp5').value;
				var numWebPurchases = document.getElementById('NumWebPurchases').value;
				var numCatalogPurchases = document.getElementById('NumCatalogPurchases').value;
				var numStorePurchases = document.getElementById('NumStorePurchases').value;
				var numWebVisitsMonth = document.getElementById('NumWebVisitsMonth').value;

				// Create an object with the captured values
				var requestData = {
					Year_Birth: yearBirth,
					Education: education,
					Marital_Status: maritalStatus,
					Income: income,
					Kidhome: kidHome,
					Teenhome: teenHome,
					Dt_Customer: dtCustomer,
					Recency: recency,
					Complain: complain,
					MntWines: mntWines,
					MntFruits: mntFruits,
					MntMeatProducts: mntMeatProducts,
					MntFishProducts: mntFishProducts,
					MntSweetProducts: mntSweetProducts,
					MntGoldProds: mntGoldProds,
					NumDealsPurchases: numDealsPurchases,
					AcceptedCmp1: acceptedCmp1,
					AcceptedCmp2: acceptedCmp2,
					AcceptedCmp3: acceptedCmp3,
					AcceptedCmp4: acceptedCmp4,
					AcceptedCmp5: acceptedCmp5,
					NumWebPurchases: numWebPurchases,
					NumCatalogPurchases: numCatalogPurchases,
					NumStorePurchases: numStorePurchases,
					NumWebVisitsMonth: numWebVisitsMonth,
				};

				// Fetch request
				fetch("{% url 'show_result' %}", {
					method: 'POST',
					header: "Content-Type: application/json",
					body: JSON.stringify(requestData)
				})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.text();
					})
					.then(data => {
						// On success, show predict result and update content
						predictResult.style.display = 'block';
						predictResult.innerHTML = data;
					})
					.catch(error => {
						// On error, show alert
						alert('Please fill out all information before submitting');
						// Assuming you have a loading spinner, hide it
						// document.querySelector('.lds-roller').style.display = 'none';
						console.error('Fetch error:', error);
					});
			});

			// Event listener for the clear button
			clearBtn.addEventListener('click', function () {
				// Add logic to clear any fields or perform other actions
			});
		});


	</script>


</body>

</html>